@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-montserrat);
}

/* Swiper CSS */
/* @import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination"; */

/* CSS Variables */
/* :root {
  --background: #ffffff; 
  --foreground: #171717; 
  --font-geist-sans: 'Inter', sans-serif; 
  --font-geist-mono: 'Fira Code', monospace; 
} */

/* Dark mode variables */
/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --background: #0a0a0a;
    --foreground: #ededed; */
/* }
} */

/* Optional: body defaults */
/* body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: , sans-serif;
  margin: 0;
  padding: 0;
} */